@font-face {
    font-family: 'RenoMono';
    src: url('/font/RenoMono.woff2') format('woff2'), /* Modern Browsers */
         url('/font/RenoMono.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
}


:root{
    --font-color1 : #fff;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #fff;
    font-family: 'RenoMono';
    z-index: 1;
}

/* NAVIGATION BAR */

nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo{
    height: 70px;
}

.nav-links{
    position: fixed;
    z-index: 2;
    top: 25px;
    right: 10px;
    background-color: rgb(0, 0, 0);
}

.nav-links ul{
    display: flex;
    list-style-type: none;
}

.nav-links ul li{
    margin: 10px 25px;
}

.nav-links ul a{
    color: var(--font-color1);
    text-decoration: none;
}

.nav-links ul li a:active{
    font-weight: 600;
    color: #c7c7c7;
}

.nav-links ul li a:hover{
    font-weight: 600;
}


.menuburger{
    cursor: pointer;
    display: none;
}

.menuburger .bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    transition: 400ms;
}

.change .bar1{
    transform: translate(0, 10px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  transform: translate(0, -10px) rotate(45deg);
}


/* MAIN */

.infos{
    height: 30vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.skills h2{
    text-decoration: underline;
    text-decoration-thickness: .5px;
    text-underline-offset: 5px;
}

.front{
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.front i{
    font-size: 50px;
}

.back{
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.back i{
    font-size: 50px;
}

@media screen and (max-width: 900px){

    body{
        overflow-x: hidden;
    }

    #logo{
        z-index: 99;
    }

    .menuburger{
        position: fixed;
        right: 10px;
        display: block;
        z-index: 99;
        margin: 10px;
    }

    .nav-links{
        position: fixed;
        z-index: 2;
        background-color: rgba(0, 0, 0, 20);
        top: 25px;
        right: 70px;
        margin-left: -100%;
        transition: 500ms;
    }

    .mobile-menu{
        margin-left: 0;
    }
    

    .nav-links ul{
        display: flex;
        align-items: center;

    }

    .nav-links ul li{
        margin: 10px;
    }

}